.container {
  margin: 0;
}

.container h2 {
  text-align: center;
  color: #30CFD0;
  font-size: 2rem;
}

.content {
  gap: 3rem;
  color: #555;
  margin-bottom: 2rem;
  cursor: pointer;
}

.text {
  width: 900px;
}

.text h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.text p {
  font-size: 1rem;
  line-height: 1.7;
}

.imageContainer img {
  width: 150;
  height: auto;
  object-fit: cover;
}