.container h2 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #30CFD0;
  margin-top: 20px;
  text-align: center;
}

.content {
  align-items: center;
  gap: 3rem;
}

.text {
  width: 50%;
}

.text h3 {
  font-size: 1.5rem;
  color: #333;
}

.text p {
  line-height: 1.5;
  font-size: 1rem;
  padding: 25px 0;
  color: #666;
}

.image {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}