.button {
  display: inline-block;
  background-color: #30CFD0;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  padding: 10px;
}

.button:hover {
  background-color: #330867;
}