.contactContainer {
  margin: 35px 0;
}

.contactContainer h1 {
  text-align: center;
}

.gradientText {
  background: linear-gradient(to right, #b3b0af, #929190);
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.imgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  font-size: 0.8rem;
}