* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.dark p,
.dark a {
  color: #bbb;
}

.container {
  width: 1200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  body {
    padding: 20px;
  }
}